/* src/index.css */
body {
  font-family: Arial, sans-serif;
  /* margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; */
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.main-content {
  display: flex;
  height: calc(100% - 60px); /* Adjust based on header height */
}

.sidebar {
  width: 250px;
  background-color: #f7f7f7;
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
  flex: 0 0 auto; /* Fixed width */
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar ul li span {
  flex-grow: 1;
}

.sidebar ul li button {
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar ul li button:hover {
  color: #000;
  background-color: #ddd;
}

.sidebar ul li:hover {
  background-color: #e0e0e0;
}

.content {
  flex-grow: 1; /* Take up remaining space */
  padding: 20px;
  overflow-y: auto;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: calc(25% - 40px);
  text-align: center;
  position: relative;
  cursor: pointer;
  word-wrap: break-word; /* Ensure text wraps within the box */
  box-sizing: border-box;
  border-radius: 15px; /* Rounded corners */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #E1F7F5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item h2 {
  margin: 0;
  font-size: 1rem; /* Adjust font size as needed */
  word-break: break-word; /* Ensure long words break and wrap */
  margin-bottom: 10px;
}

.project-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.add-project-form {
  margin-bottom: 20px;
}

.add-project-form input,
.add-project-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px; /* Rounded corners */
}

.add-project-form button {
  padding: 10px 20px;
  background-color: #401F71;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease;
}

.add-project-form button:hover {
  background-color: #0056b3;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 10px;
  background: white;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.dropdown-menu input {
  padding: 10px;
  border: none;
  border-top: 1px solid #ddd;
  border-radius: 0 0 5px 5px; /* Rounded corners at the bottom */
}

.dropdown-menu select {
  padding: 10px;
  border: none;
  border-top: 1px solid #ddd;
  border-radius: 0 0 5px 5px; /* Rounded corners at the bottom */
}

.project-view .btn {
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 5px; /* Rounded corners */
}

textarea {
  width: 100%;
  min-height: 100px; /* Initial height */
  padding: 10px;
  border: 1px solid #ddd;
  resize: both; /* Allow manual resizing */
  overflow: auto; /* Ensure scrolling */
  border-radius: 5px; /* Rounded corners */
}

@media (max-width: 768px) {
  .project-item {
      width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .project-item {
      width: calc(100% - 40px);
  }
}
